<Breadcrumb @crumb={{hash label="Ran" args=(array "jobs.runmodel")}} />
{{page-title "Ran a job"}}
<section class="section">
  <JobEditor @job={{this.model}} @context="new" @onSubmit={{action this.onSubmit}} />
</section>